/* :root {
    --primary-text-color:#c96e14;
    --desc-color: rgb(0, 13, 255);
} */


body {
    font-family: 'Poppins', sans-serif;
   color: #8F95A5;
    background-color: #fff;
    font-size: 20px;
}

a{
    text-decoration: none;
}
ul, ol {
    list-style: none;
}

.section-title {
color: #000;
font-size: 48px;
font-weight: 600;
line-height: normal;
}
/* header */
.logo {
color: #000;
font-size: 36px;
line-height: normal;
}
.logo-part {
 color: #939393;
}
.logo-part-footer {
    color: #d42626;
}
.nav-link {
 color: #263238;
font-weight: 500;
line-height: normal;
}
.nav-link:hover,
.nav-link:focus {
    color: tomato;
    text-decoration: underline;
}
.header-btn {
color: #000;
font-family: Poppins, sans-serif;
font-size: 20px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.6px;
cursor: pointer;
background-color: transparent;
border: 2px solid #263238;
}
.header-btn:hover,
.header-btn:focus{
    color: #fff;
    background-color: tomato;
}

/* hero */
.hero-title {
color: #000;
font-size: 64px;
font-weight: 600;
line-height: 1.25; 
}
.hero-text {
font-size: 24px;
line-height: normal;
}
.hero-btn {
color: #FFF;
font-family: inherit;
font-size: 36px;
line-height: normal;
letter-spacing: 1.08px;
border-radius: 10px;
background-color: #263238;
cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
color: #000;
background-color: #fff;
}

/* skills */
.skills-subtitle {
color: #263238;
font-size: 30px;
font-weight: 600;
line-height: normal;
}

.skills-btn {
color: #FFF;
font-family: inherit;
font-size: 18px;
font-weight: 500;
line-height: normal;
border-radius: 10px;
background-color: #263238;
cursor: pointer;
border: none;
}
.skills-btn:hover,
.skills-btn:focus {
color: #000;
background-color: #fff;
}
/* about */
.about-text {
    color: #8F95A5;
line-height: 1.8; 
}
.about-count {
 color: #2A3246;
font-size: 48px;
font-weight: 600;
line-height: normal;
}
